<head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>123 Main Street</p>
          <p>Mumbai, Maharastra-516928</p>
          <p>Phone: 123-1234</p>
          <p>Email: service@icin.com</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Our bank has been providing quality financial services for over 50 years. We offer a range of products to meet your needs, and our team is committed to delivering personalized service with a smile.</p>
        </div>
      </div>
    </div>
    <div class="bottom-bar">
      <div class="container">
        <p>&copy; 2023 ICIN Bank. All rights reserved.</p>
      </div>
    </div>
  </footer>

  