<div class="popup-container">
  <div class="modal-container">
    <button type="button" class="close-button" (click)="close()">X</button>
    <form (ngSubmit)="grantAccess()">
      <div>
        <input type="checkbox" id="transfer" name="transfer" [(ngModel)]="user.actionEntity.transfer">
        <label for="transfer">Transfer Money</label>
      </div>
      <div>
        <input type="checkbox" id="deposit" name="deposit" [(ngModel)]="user.actionEntity.deposit">
        <label for="deposit">Deposit Money</label>
      </div>
      <div>
        <input type="checkbox" id="withdraw" name="withdraw" [(ngModel)]="user.actionEntity.withdrawal">
        <label for="withdraw">Withdraw Money</label>
      </div>
      <button type="submit" class="btn btn-success">Grant Access</button>
    </form>
  </div>
</div>
