<form>
    <div>
      <input type="checkbox" id="transfer" name="transfer" [(ngModel)]="user.canTransferMoney">
      <label for="transfer">Transfer Money</label>
    </div>
    <div>
      <input type="checkbox" id="deposit" name="deposit" [(ngModel)]="user.canDepositMoney">
      <label for="deposit">Deposit Money</label>
    </div>
    <div>
      <input type="checkbox" id="withdraw" name="withdraw" [(ngModel)]="user.canWithdrawMoney">
      <label for="withdraw">Withdraw Money</label>
    </div>
    <button type="button" (click)="grantAccess()">Grant Access</button>
  </form>
  