<app-view-balance></app-view-balance>
<br>
<form [formGroup]="transferForm" class="transfer-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="fromAccount">From Account:</label>
    <input type="text" id="fromAccount" formControlName="fromAccount" class="form-control">
  </div>
  <div class="form-group">
    <label for="toAccount">To Account:</label>
    <input type="text" id="toAccount" formControlName="toAccount" class="form-control">
  </div>
  <div class="form-group">
    <label for="holderName">Account Holder Name:</label>
    <input type="text" id="holderName" formControlName="holderName" class="form-control">
  </div>
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" formControlName="amount" class="form-control">
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!transferForm.valid">Transfer Funds</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="openPopup()" style=" margin-top: 10px;">Previous Recipients</button>
  </div>

</form>